# First steps with Data Frames.jl

In this notebook we will reproduce the classical Anscombe's quartert plot.

Our objective is to produce a figure similar to this one (the plot is taken from [here](https://upload.wikimedia.org/wikipedia/commons/e/ec/Anscombe%27s_quartet_3.svg)).

<img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Anscombe%27s_quartet_3.svg" style="height: 400px; width:400px;" />

We start with loading of the required packages

In [1]:
using DataFrames
using Statistics
using PyPlot
using GLM

This is a matrix in which we store 8 columns representing Anscombe's quartet data

In [2]:
aq = [10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
       8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
      13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
       9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
      11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
      14.0   9.96  14.0  8.1   14.0   8.84   8.0   7.04
       6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
       4.0   4.26   4.0  3.1    4.0   5.39  19.0  12.50 
      12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
       7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
       5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89]

11×8 Matrix{Float64}:
 10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
  8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
 13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
  9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
 11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
 14.0   9.96  14.0  8.1   14.0   8.84   8.0   7.04
  6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
  4.0   4.26   4.0  3.1    4.0   5.39  19.0  12.5
 12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
  7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
  5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

We can simply convert a matrix to a `DataFrame` by calling its constructor

In [3]:
df = DataFrame(aq, :auto)

11×8 DataFrame
 Row │ x1       x2       x3       x4       x5       x6       x7       x8
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     8.04     10.0     9.14     10.0     7.46      8.0     6.58
   2 │     8.0     6.95      8.0     8.14      8.0     6.77      8.0     5.76
   3 │    13.0     7.58     13.0     8.74     13.0    12.74      8.0     7.71
   4 │     9.0     8.81      9.0     8.77      9.0     7.11      8.0     8.84
   5 │    11.0     8.33     11.0     9.26     11.0     7.81      8.0     8.47
   6 │    14.0     9.96     14.0     8.1      14.0     8.84      8.0     7.04
   7 │     6.0     7.24      6.0     6.13      6.0     6.08      8.0     5.25
   8 │     4.0     4.26      4.0     3.1       4.0     5.39     19.0    12.5
   9 │    12.0    10.84     12.0     9.13     12.0     8.15      8.0     5.56
  10 │     7.0     4.82      7.0     7.26      7.0     6.42      8.0     7.91
  11 │     5.0     5.68      5.0     4.74      5.0     5.73      8.0     6.89

Note that the auto-generated column names are `x1`, `x2`, etc.
Next we replace automatically generated column names by proper ones.

In [7]:
# See broadcast() to understand how this works.
# The second array is 1x4 so the broadcast produces a matrix
newnames = vec(string.(["x", "y"], [1 2 3 4])) # don't understand why string.() does this
# newnames = vec(["$i$j" for i in ["x", "y"], j in [1, 2, 3, 4]])

8-element Vector{String}:
 "x1"
 "y1"
 "x2"
 "y2"
 "x3"
 "y3"
 "x4"
 "y4"

In [8]:
rename!(df, newnames)

11×8 DataFrame
 Row │ x1       y1       x2       y2       x3       y3       x4       y4
     │ Float64  Float64  Float64  Float64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────────────
   1 │    10.0     8.04     10.0     9.14     10.0     7.46      8.0     6.58
   2 │     8.0     6.95      8.0     8.14      8.0     6.77      8.0     5.76
   3 │    13.0     7.58     13.0     8.74     13.0    12.74      8.0     7.71
   4 │     9.0     8.81      9.0     8.77      9.0     7.11      8.0     8.84
   5 │    11.0     8.33     11.0     9.26     11.0     7.81      8.0     8.47
   6 │    14.0     9.96     14.0     8.1      14.0     8.84      8.0     7.04
   7 │     6.0     7.24      6.0     6.13      6.0     6.08      8.0     5.25
   8 │     4.0     4.26      4.0     3.1       4.0     5.39     19.0    12.5
   9 │    12.0    10.84     12.0     9.13     12.0     8.15      8.0     5.56
  10 │     7.0     4.82      7.0     7.26      7.0     6.42      8.0     7.91
  11 │     5.0     5.68      5.0     4.74      5.0     5.73      8.0     6.89